.ant-page-header .ant-page-header-heading {
  display: flex;
  justify-content: flex-start;
}

.ant-page-header .ant-page-header-heading .ant-page-header-heading-extras {
  display: flex;
  justify-content: flex-end;
}

.ant-page-header .ant-page-header-footer {
 
}

.ant-card-meta-description {
color: rgba(0, 0, 0, 1) !important
}

div.timeline_container div.ant-timeline-item-label {
  width: 170px !important;
}

div.timeline_container div.ant-timeline-item-content {
  left: 170px !important;
  width: auto !important;
}

div.timeline_container div.ant-timeline-item-tail,
div.ant-timeline-item-head {
  left: 180px !important;
}

